name: Free VPS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - name: Start VPS
        run: |
          sudo apt update
          sudo apt install -y tmate
          tmate new-session -d
          tmate wait tmate-ready
          tmate display -p '#{tmate_ssh}'
          sleep 21600
